# Numeric Type: int, float, complex

In [1]:
a = 1

In [2]:
type(a)

int

In [3]:
b = 1.0

In [4]:
type(b)

float

In [5]:
c = 1 + 3j

In [6]:
type(c)

complex

In [7]:
c*c

(-8+6j)

# Quick Swapping

In [8]:
a, b = 3, 14
print('a = ', a, ', b = ', b)

a =  3 , b =  14

In [9]:
a, b = b, a
print('a = ', a, ', b = ', b)

a =  14 , b =  3

# Numeric Operation (commonly used)

In [10]:
30/7

4.285714285714286

In [11]:
30//7

4

In [12]:
30%7

2

In [13]:
divmod(30,7)

(4, 2)

In [14]:
2**10

1024

In [15]:
10**2

100

In [16]:
2*3+5/2**2-1

6.25

In [17]:
-1^4

-5

In [18]:
(-1)^4

-5

In [19]:
8^3

11

# Symbol "^" is a bitwise XOR! not "to the power of"
https://stackoverflow.com/questions/2451386/what-does-the-caret-operator-in-python-do

<p>8 = 1000 (base 2) <br />
3 = 0011 (base 2)</p>
XOR means fault if inputs are the same, true if inputs are different

XOR vertically,

```1000
0011
1011 (XOR result) = 11```

In [20]:
-1**4

-1

In [21]:
(-1)**4

1

In [22]:
pow(2,10)

1024

In [23]:
pow(10,2)

100

In [24]:
int(30.930)

30

In [25]:
float(3)

3.0

In [26]:
complex(3,10.123)

(3+10.123j)

In [27]:
import math

In [28]:
math.log(10)

2.302585092994046

In [29]:
math.log(2)

0.6931471805599453

In [30]:
math.log10(2)

0.3010299956639812

In [31]:
math.log10(10)

1.0

In [32]:
math.exp(2)

7.38905609893065

In [33]:
math.pi

3.141592653589793

In [34]:
math.sin(math.pi/3)

0.8660254037844386

In [35]:
math.sqrt(3)/2

0.8660254037844386

In [36]:
3**0.5/2

0.8660254037844386

In [37]:
math.degrees(math.pi/4)

45.0

In [38]:
math.radians(45) * 4

3.141592653589793

In [39]:
print('{:.10f}'.format(math.pi))

3.1415926536

In [40]:
math.atan(1) * 4

3.141592653589793

In [41]:
math.erf(1)

0.842700792949715

Note that math.erf is the error function

$$\operatorname{erf}(x) = \frac{1}{\sqrt\pi}\int_{-x}^x e^{-t^2} \,dt = \frac{2}{\sqrt\pi}\int_0^x e^{-t^2}\,dt$$

In [42]:
math.e

2.718281828459045

In [43]:
math.gamma(0.5)

1.7724538509055159

In [44]:
math.gamma(5)

24.0

$$\Gamma(n) = (n-1)!$$
$$\Gamma(z) = \int_0^\infty x^{z-1} e^{-x}\,dx$$

In [45]:
math.gcd(30, 40)

10

In [46]:
math.sqrt(2)

1.4142135623730951

In [47]:
30 * 40 / math.gcd(30,40)

120.0

# Sequence Types: list, tuple, range

In [48]:
a = list([1,'hi',3+3j,0.1])
a

[1, 'hi', (3+3j), 0.1]

In [49]:
b = tuple((2,4))
b

(2, 4)

In [50]:
c = tuple([3,4])
c

(3, 4)

In [51]:
d = tuple([1,2,3,4,5])
d

(1, 2, 3, 4, 5)

In [52]:
type([1,2,3])

list

In [53]:
type((2,3,4))

tuple

In [54]:
range(12)

range(0, 12)

In [55]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [56]:
type(list(range(12)))

list

In [57]:
a = range(12)
a

range(0, 12)

In [58]:
type(a)

range

In [59]:
print(a)

range(0, 12)

In [60]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [61]:
tuple(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [62]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [63]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(1,10,3))

[1, 4, 7]

In [65]:
list(range(1,30,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

# Sequence Operation
https://docs.python.org/3/library/stdtypes.html#common-sequence-operations
<table border="1" class="docutils" align = 'left' style="font-family: sans-serif; font-size:110%;}">
<colgroup>
<col width="38%" />
<col width="47%" />
<col width="15%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Operation</th>
<th class="head">Result</th>
<th class="head">Notes</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><code class="docutils literal"><span class="pre">x</span> <span class="pre">in</span> <span class="pre">s</span></code></td>
<td><code class="docutils literal"><span class="pre">True</span></code> if an item of <em>s</em> is
equal to <em>x</em>, else <code class="docutils literal"><span class="pre">False</span></code></td>
<td>(1)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">x</span> <span class="pre">not</span> <span class="pre">in</span> <span class="pre">s</span></code></td>
<td><code class="docutils literal"><span class="pre">False</span></code> if an item of <em>s</em> is
equal to <em>x</em>, else <code class="docutils literal"><span class="pre">True</span></code></td>
<td>(1)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s</span> <span class="pre">+</span> <span class="pre">t</span></code></td>
<td>the concatenation of <em>s</em> and
<em>t</em></td>
<td>(6)(7)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s</span> <span class="pre">&#42;</span> <span class="pre">n</span></code> or
<code class="docutils literal"><span class="pre">n</span> <span class="pre">&#42;</span> <span class="pre">s</span></code></td>
<td>equivalent to adding <em>s</em> to
itself <em>n</em> times</td>
<td>(2)(7)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s[i]</span></code></td>
<td><em>i</em>th item of <em>s</em>, origin 0</td>
<td>(3)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s[i:j]</span></code></td>
<td>slice of <em>s</em> from <em>i</em> to <em>j</em></td>
<td>(3)(4)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s[i:j:k]</span></code></td>
<td>slice of <em>s</em> from <em>i</em> to <em>j</em>
with step <em>k</em></td>
<td>(3)(5)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">len(s)</span></code></td>
<td>length of <em>s</em></td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">min(s)</span></code></td>
<td>smallest item of <em>s</em></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">max(s)</span></code></td>
<td>largest item of <em>s</em></td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s.index(x[,</span> <span class="pre">i[,</span> <span class="pre">j]])</span></code></td>
<td>index of the first occurrence
of <em>x</em> in <em>s</em> (at or after
index <em>i</em> and before index <em>j</em>)</td>
<td>(8)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s.count(x)</span></code></td>
<td>total number of occurrences of
<em>x</em> in <em>s</em></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>


https://docs.python.org/3.6/tutorial/introduction.html#strings

## List Slicing
<div class="highlight-python3"><div class="highlight"><pre><span></span> <span class="o">+---+---+---+---+---+---+</span>
 <span class="o">|</span> <span class="n">P</span> <span class="o">|</span> <span class="n">y</span> <span class="o">|</span> <span class="n">t</span> <span class="o">|</span> <span class="n">h</span> <span class="o">|</span> <span class="n">o</span> <span class="o">|</span> <span class="n">n</span> <span class="o">|</span>
 <span class="o">+---+---+---+---+---+---+</span>
 <span class="mi">0</span>   <span class="mi">1</span>   <span class="mi">2</span>   <span class="mi">3</span>   <span class="mi">4</span>   <span class="mi">5</span>   <span class="mi">6</span>
<span class="o">-</span><span class="mi">6</span>  <span class="o">-</span><span class="mi">5</span>  <span class="o">-</span><span class="mi">4</span>  <span class="o">-</span><span class="mi">3</span>  <span class="o">-</span><span class="mi">2</span>  <span class="o">-</span><span class="mi">1</span>
</pre></div>
</div>

In [66]:
p = list('Python')
p

['P', 'y', 't', 'h', 'o', 'n']

In [67]:
p[2]

't'

In [68]:
p[-2]

'o'

In [69]:
p[3:5]

['h', 'o']

In [70]:
p[-5:4]

['y', 't', 'h']

In [71]:
p[4:1:-1]

['o', 'h', 't']

In [72]:
a = list(range(1,30,3))
a

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [73]:
a[0]

1

In [74]:
a[1]

4

In [75]:
a[2]

7

In [76]:
a[-1]

28

In [77]:
a[-2]

25

In [78]:
a[:]

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [79]:
a[1:-1]

[4, 7, 10, 13, 16, 19, 22, 25]

In [80]:
a[3:4]

[10]

In [81]:
a[3]

10

In [82]:
a[3:]

[10, 13, 16, 19, 22, 25, 28]

In [83]:
12 in a

False

In [84]:
13 in a

True

In [85]:
[13] in a

False

In [86]:
bool(a)

True

In [87]:
b = []
bool(b)

False

In [88]:
len(b)

0

In [89]:
len(a)

10

In [90]:
a

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [91]:
c = sorted(a, reverse = True)
c

[28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [92]:
c*2

[28, 25, 22, 19, 16, 13, 10, 7, 4, 1, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [93]:
(c*3).count(25) #25 occur 3 times in (c*3)

3

In [94]:
(c*3).count(25.0)

3

In [95]:
min(a)

1

In [96]:
max(a)

28

# Mutable Sequence Operation
(does not apply to tuple)
https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types
<table align = "left" border="1" class="docutils" id="index-23" style="font-family: sans-serif; font-size:110%;}">
<colgroup>
<col width="36%" />
<col width="39%" />
<col width="25%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Operation</th>
<th class="head">Result</th>
<th class="head">Notes</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s[i]</span> <span class="pre">=</span> <span class="pre">x</span></code></td>
<td>item <em>i</em> of <em>s</em> is replaced by
<em>x</em></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s[i:j]</span> <span class="pre">=</span> <span class="pre">t</span></code></td>
<td>slice of <em>s</em> from <em>i</em> to <em>j</em>
is replaced by the contents of
the iterable <em>t</em></td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">del</span> <span class="pre">s[i:j]</span></code></td>
<td>same as <code class="docutils literal"><span class="pre">s[i:j]</span> <span class="pre">=</span> <span class="pre">[]</span></code></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s[i:j:k]</span> <span class="pre">=</span> <span class="pre">t</span></code></td>
<td>the elements of <code class="docutils literal"><span class="pre">s[i:j:k]</span></code>
are replaced by those of <em>t</em></td>
<td>(1)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">del</span> <span class="pre">s[i:j:k]</span></code></td>
<td>removes the elements of
<code class="docutils literal"><span class="pre">s[i:j:k]</span></code> from the list</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s.append(x)</span></code></td>
<td>appends <em>x</em> to the end of the
sequence (same as
<code class="docutils literal"><span class="pre">s[len(s):len(s)]</span> <span class="pre">=</span> <span class="pre">[x]</span></code>)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s.clear()</span></code></td>
<td>removes all items from <code class="docutils literal"><span class="pre">s</span></code>
(same as <code class="docutils literal"><span class="pre">del</span> <span class="pre">s[:]</span></code>)</td>
<td>(5)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s.copy()</span></code></td>
<td>creates a shallow copy of <code class="docutils literal"><span class="pre">s</span></code>
(same as <code class="docutils literal"><span class="pre">s[:]</span></code>)</td>
<td>(5)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s.extend(t)</span></code> or
<code class="docutils literal"><span class="pre">s</span> <span class="pre">+=</span> <span class="pre">t</span></code></td>
<td>extends <em>s</em> with the
contents of <em>t</em> (for the
most part the same as
<code class="docutils literal"><span class="pre">s[len(s):len(s)]</span> <span class="pre">=</span> <span class="pre">t</span></code>)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s</span> <span class="pre">*=</span> <span class="pre">n</span></code></td>
<td>updates <em>s</em> with its contents
repeated <em>n</em> times</td>
<td>(6)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s.insert(i,</span> <span class="pre">x)</span></code></td>
<td>inserts <em>x</em> into <em>s</em> at the
index given by <em>i</em>
(same as <code class="docutils literal"><span class="pre">s[i:i]</span> <span class="pre">=</span> <span class="pre">[x]</span></code>)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s.pop([i])</span></code></td>
<td>retrieves the item at <em>i</em> and
also removes it from <em>s</em></td>
<td>(2)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">s.remove(x)</span></code></td>
<td>remove the first item from <em>s</em>
where <code class="docutils literal"><span class="pre">s[i]</span> <span class="pre">==</span> <span class="pre">x</span></code></td>
<td>(3)</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">s.reverse()</span></code></td>
<td>reverses the items of <em>s</em> in
place</td>
<td>(4)</td>
</tr>
</tbody>
</table>

In [97]:
a = list(range(1,30,3))
a

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [98]:
a[3]

10

In [99]:
a[3] = -50.35
a

[1, 4, 7, -50.35, 13, 16, 19, 22, 25, 28]

In [100]:
a.insert(0,2.33)
a

[2.33, 1, 4, 7, -50.35, 13, 16, 19, 22, 25, 28]

In [101]:
a.reverse()
a

[28, 25, 22, 19, 16, 13, -50.35, 7, 4, 1, 2.33]

In [102]:
a.append(25)
a

[28, 25, 22, 19, 16, 13, -50.35, 7, 4, 1, 2.33, 25]

In [103]:
a.remove(25)
a

[28, 22, 19, 16, 13, -50.35, 7, 4, 1, 2.33, 25]

In [104]:
b = a.pop(1)
a, b

([28, 19, 16, 13, -50.35, 7, 4, 1, 2.33, 25], 22)

In [105]:
a.pop(-1)
a

[28, 19, 16, 13, -50.35, 7, 4, 1, 2.33]

# List / Tuple Comprehension

In [106]:
b = [i*2 for i in [1,2,3,4]]
b

[2, 4, 6, 8]

In [107]:
b = [i*2 for i in range(1,5)]
b

[2, 4, 6, 8]

In [108]:
b = [i for i in range(0,20) if i%3 != 0]
b

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [109]:
b = [i**2 for i in range (0,21) if i**3 < 300]
b

[0, 1, 4, 9, 16, 25, 36]

In [110]:
nameList = ['Alice', 'Bob', 'Christopher', 'Emma', 'Francis']
b = [i for i in nameList if len(i) >4]
b

['Alice', 'Christopher', 'Francis']

In [111]:
nameList = ['Alice', 'Bob', 'Christopher', 'Emma', 'Francis']
idList = [12, 15, 6, -32, 17]

In [112]:
x1 = tuple((i,j) for i in nameList for j in idList)
x1

(('Alice', 12),
 ('Alice', 15),
 ('Alice', 6),
 ('Alice', -32),
 ('Alice', 17),
 ('Bob', 12),
 ('Bob', 15),
 ('Bob', 6),
 ('Bob', -32),
 ('Bob', 17),
 ('Christopher', 12),
 ('Christopher', 15),
 ('Christopher', 6),
 ('Christopher', -32),
 ('Christopher', 17),
 ('Emma', 12),
 ('Emma', 15),
 ('Emma', 6),
 ('Emma', -32),
 ('Emma', 17),
 ('Francis', 12),
 ('Francis', 15),
 ('Francis', 6),
 ('Francis', -32),
 ('Francis', 17))

In [113]:
x2 = tuple((i,j) for i,j in zip(nameList,idList))
x2

(('Alice', 12),
 ('Bob', 15),
 ('Christopher', 6),
 ('Emma', -32),
 ('Francis', 17))

# What exactly is in used for List/Tuple Comprehension
## It is a 'Generator': like iterator, but can be used just once
(evaluated lazily one by one): Lazy evaluation can help to improve performance (less memory usage / faster / or both)
<br> To use %memit, do the following first,
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;```conda install memory_profiler```
<br> Then load it into jupyter notebook using
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;```%load_ext memory_profiler```

In [114]:
((i,j) for i,j in zip(nameList,idList))

In [115]:
(i for i in nameList if len(i) >4)

In [116]:
y = tuple((i,j) for i in nameList for j in idList)
y

(('Alice', 12),
 ('Alice', 15),
 ('Alice', 6),
 ('Alice', -32),
 ('Alice', 17),
 ('Bob', 12),
 ('Bob', 15),
 ('Bob', 6),
 ('Bob', -32),
 ('Bob', 17),
 ('Christopher', 12),
 ('Christopher', 15),
 ('Christopher', 6),
 ('Christopher', -32),
 ('Christopher', 17),
 ('Emma', 12),
 ('Emma', 15),
 ('Emma', 6),
 ('Emma', -32),
 ('Emma', 17),
 ('Francis', 12),
 ('Francis', 15),
 ('Francis', 6),
 ('Francis', -32),
 ('Francis', 17))

In [117]:
z = tuple()   #nested for loop approach
for i in nameList:
    for j in idList:
        z = z + tuple((tuple((i,j)),))
z

(('Alice', 12),
 ('Alice', 15),
 ('Alice', 6),
 ('Alice', -32),
 ('Alice', 17),
 ('Bob', 12),
 ('Bob', 15),
 ('Bob', 6),
 ('Bob', -32),
 ('Bob', 17),
 ('Christopher', 12),
 ('Christopher', 15),
 ('Christopher', 6),
 ('Christopher', -32),
 ('Christopher', 17),
 ('Emma', 12),
 ('Emma', 15),
 ('Emma', 6),
 ('Emma', -32),
 ('Emma', 17),
 ('Francis', 12),
 ('Francis', 15),
 ('Francis', 6),
 ('Francis', -32),
 ('Francis', 17))

In [118]:
z == y

True

In [119]:
%load_ext memory_profiler

In [120]:
def fn1():
    y = tuple((i,j) for i in nameList for j in idList)

In [121]:
%timeit -n 5 fn1()

5 loops, best of 3: 5.64 µs per loop

In [122]:
result1 = %timeit -o -n 5 fn1()

5 loops, best of 3: 11.4 µs per loop

In [123]:
%memit -r 5 fn1()

peak memory: 43.79 MiB, increment: 0.13 MiB

In [124]:
def fn2():
    z = tuple()
    for i in nameList:
        for j in idList:
            z = z + tuple((tuple((i,j)),))

In [125]:
result2 = %timeit -o -n 5 fn2()

5 loops, best of 3: 20.2 µs per loop

In [126]:
%memit -r 5 fn2()

peak memory: 43.84 MiB, increment: 0.01 MiB

In [127]:
print('use tuple comprehension is about {:.1f} times faster'.format(result2.best/result1.best))

use tuple comprehension is about 1.8 times faster

# Text Sequence Type: str
https://docs.python.org/2.4/lib/string-methods.html

https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

https://docs.python.org/3.6/tutorial/introduction.html#strings


<div class="highlight-python3"><div class="highlight"><pre><span></span> <span class="o">+---+---+---+---+---+---+</span>
 <span class="o">|</span> <span class="n">P</span> <span class="o">|</span> <span class="n">y</span> <span class="o">|</span> <span class="n">t</span> <span class="o">|</span> <span class="n">h</span> <span class="o">|</span> <span class="n">o</span> <span class="o">|</span> <span class="n">n</span> <span class="o">|</span>
 <span class="o">+---+---+---+---+---+---+</span>
 <span class="mi">0</span>   <span class="mi">1</span>   <span class="mi">2</span>   <span class="mi">3</span>   <span class="mi">4</span>   <span class="mi">5</span>   <span class="mi">6</span>
<span class="o">-</span><span class="mi">6</span>  <span class="o">-</span><span class="mi">5</span>  <span class="o">-</span><span class="mi">4</span>  <span class="o">-</span><span class="mi">3</span>  <span class="o">-</span><span class="mi">2</span>  <span class="o">-</span><span class="mi">1</span>
</pre></div>
</div>

In [128]:
a = 'Python'

In [129]:
a[0]

'P'

In [130]:
a[3]

'h'

In [131]:
a[2:-2]

'th'

In [132]:
a[2:4]

'th'

In [133]:
a*3

'PythonPythonPython'

In [134]:
print(a)

Python

## Python Escape Character
https://docs.python.org/3/reference/lexical_analysis.html#grammar-token-stringescapeseq

<table border="1" class="docutils" align = 'left' style="font-family: sans-serif; font-size:110%;">
<colgroup>
<col width="30%" />
<col width="58%" />
<col width="12%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Escape Sequence</th>
<th class="head">Meaning</th>
<th class="head">Notes</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\newline</span></code></td>
<td>Backslash and newline ignored</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">\\</span></code></td>
<td>Backslash (<code class="docutils literal"><span class="pre">\</span></code>)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\'</span></code></td>
<td>Single quote (<code class="docutils literal"><span class="pre">'</span></code>)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">\&quot;</span></code></td>
<td>Double quote (<code class="docutils literal"><span class="pre">&quot;</span></code>)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\a</span></code></td>
<td>ASCII Bell (BEL)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">\b</span></code></td>
<td>ASCII Backspace (BS)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\f</span></code></td>
<td>ASCII Formfeed (FF)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">\n</span></code></td>
<td>ASCII Linefeed (LF)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\r</span></code></td>
<td>ASCII Carriage Return (CR)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">\t</span></code></td>
<td>ASCII Horizontal Tab (TAB)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\v</span></code></td>
<td>ASCII Vertical Tab (VT)</td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">\ooo</span></code></td>
<td>Character with octal value
<em>ooo</em></td>
<td>(1,3)</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">\xhh</span></code></td>
<td>Character with hex value <em>hh</em></td>
<td>(2,3)</td>
</tr>
</tbody>
</table>

In [135]:
a = r"\' \\ \n \t end"
a

"\\' \\\\ \\n \\t end"

In [136]:
print(a)

\' \\ \n \t end

In [137]:
a = "\' \\ \n \t end"
a

"' \\ \n \t end"

In [138]:
print(a)

' \
 	 end

In [139]:
a = ""
for i in range(1,11):
    for j in range(1,11):
        a = a + str((i-1)*10 + j) + ' '
    a = a + '\n'
print(a)

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

## str method: .format
https://docs.python.org/3.6/library/string.html#formatspec

#### Commonly used parameters in { }
'd' for integer (decimal)
<br>'f' for float (real number)
<br>'G' or 'g' for general format
<br>'e' or 'E' for scientific format

In [140]:
for i in range(1,11):
    for j in range(1,11):
        print("{:4d}".format((i-1)*10 + j), end='')
    print('\n')

   1   2   3   4   5   6   7   8   9  10

  11  12  13  14  15  16  17  18  19  20

  21  22  23  24  25  26  27  28  29  30

  31  32  33  34  35  36  37  38  39  40

  41  42  43  44  45  46  47  48  49  50

  51  52  53  54  55  56  57  58  59  60

  61  62  63  64  65  66  67  68  69  70

  71  72  73  74  75  76  77  78  79  80

  81  82  83  84  85  86  87  88  89  90

  91  92  93  94  95  96  97  98  99 100

In [141]:
a = 1.245e-5
b = math.pi
print(a)
print('{0:20d}\t{1:>20s}'.format(int(a),'pi'))
print('{0:20e}\t{1:20s}'.format(a, 'pi'))
print('{0:20f}\t{1:20G}'.format(a, b))
print('{0:<20F}\t{1:20.14G}'.format(a, b))

1.245e-05
                   0	                  pi
        1.245000e-05	pi
            0.000012	             3.14159
0.000012            	     3.1415926535898

## Extract information from string

In [142]:
a = 'Alice Parker: 28 yr, John Doe: 23 yr, Tom Smith: 88 yr'
a.split()

['Alice',
 'Parker:',
 '28',
 'yr,',
 'John',
 'Doe:',
 '23',
 'yr,',
 'Tom',
 'Smith:',
 '88',
 'yr']

In [143]:
a.split(sep=',')

['Alice Parker: 28 yr', ' John Doe: 23 yr', ' Tom Smith: 88 yr']

In [144]:
a.split(sep=':')

['Alice Parker', ' 28 yr, John Doe', ' 23 yr, Tom Smith', ' 88 yr']

In [145]:
#https://stackoverflow.com/questions/4998629/python-split-string-with-multiple-delimiters
#multiple delimiters
import re
re.split(',|:',a)

['Alice Parker', ' 28 yr', ' John Doe', ' 23 yr', ' Tom Smith', ' 88 yr']

In [146]:
re.split(',|:',a)[::2]

['Alice Parker', ' John Doe', ' Tom Smith']

### Get just last name

In [147]:
[i.split()[1] for i in re.split(',|:',a)[::2]]

['Parker', 'Doe', 'Smith']

### Get list of tuple(name, age)

In [148]:
[i for i in re.split(',|:',a)[::2]]

['Alice Parker', ' John Doe', ' Tom Smith']

In [149]:
[i for i in re.split(',|:',a)[1::2]]

[' 28 yr', ' 23 yr', ' 88 yr']

In [150]:
for word in [i for i in re.split(',|:',a)[1::2]]:
    print(word)

 28 yr
 23 yr
 88 yr

In [151]:
for word in [i for i in re.split(',|:',a)[1::2]]:
    print(word.split())

['28', 'yr']
['23', 'yr']
['88', 'yr']

In [152]:
for word in [i for i in re.split(',|:',a)[1::2]]:
    print(word.split()[0])

28
23
88

In [153]:
name = re.split(',|:',a)[::2]
age_raw = re.split(',|:',a)[1::2]
age = [int(i.split()[0]) for i in age_raw]
age

[28, 23, 88]

In [154]:
[tuple((i,j)) for i,j in zip(name,age)]

[('Alice Parker', 28), (' John Doe', 23), (' Tom Smith', 88)]

# Mapping Type: dict
Order is not preserved in dict

In [155]:
a = {'Alice': 12, 'Bob': 29, 'Clare':40, 'Danial':34, 'Emma':4, 'Frederick':80, 'Grace':52, 'Henry':22}
a

{'Alice': 12,
 'Bob': 29,
 'Clare': 40,
 'Danial': 34,
 'Emma': 4,
 'Frederick': 80,
 'Grace': 52,
 'Henry': 22}

In [156]:
type(a)

dict

### Loop through dictionary

In [157]:
for i in a:
    print(i)

Alice
Bob
Clare
Danial
Emma
Frederick
Grace
Henry

In [158]:
a.items()

dict_items([('Alice', 12), ('Bob', 29), ('Clare', 40), ('Danial', 34), ('Emma', 4), ('Frederick', 80), ('Grace', 52), ('Henry', 22)])

In [159]:
a.keys()

dict_keys(['Alice', 'Bob', 'Clare', 'Danial', 'Emma', 'Frederick', 'Grace', 'Henry'])

In [160]:
a.values()

dict_values([12, 29, 40, 34, 4, 80, 52, 22])

In [161]:
for i in a.items():
    print(i)

('Alice', 12)
('Bob', 29)
('Clare', 40)
('Danial', 34)
('Emma', 4)
('Frederick', 80)
('Grace', 52)
('Henry', 22)

In [162]:
for i, j in a.items():
    print(i, j)

Alice 12
Bob 29
Clare 40
Danial 34
Emma 4
Frederick 80
Grace 52
Henry 22

### List of sorted dictionary

In [163]:
info = list(a.items())
info

[('Alice', 12),
 ('Bob', 29),
 ('Clare', 40),
 ('Danial', 34),
 ('Emma', 4),
 ('Frederick', 80),
 ('Grace', 52),
 ('Henry', 22)]

In [164]:
sorted(info)

[('Alice', 12),
 ('Bob', 29),
 ('Clare', 40),
 ('Danial', 34),
 ('Emma', 4),
 ('Frederick', 80),
 ('Grace', 52),
 ('Henry', 22)]

In [165]:
sorted(info, reverse = True)

[('Henry', 22),
 ('Grace', 52),
 ('Frederick', 80),
 ('Emma', 4),
 ('Danial', 34),
 ('Clare', 40),
 ('Bob', 29),
 ('Alice', 12)]

In [166]:
sorted(info, key=lambda x: x[1])

[('Emma', 4),
 ('Alice', 12),
 ('Henry', 22),
 ('Bob', 29),
 ('Danial', 34),
 ('Clare', 40),
 ('Grace', 52),
 ('Frederick', 80)]

In [167]:
sorted(info, key=lambda x: x[1], reverse = True)

[('Frederick', 80),
 ('Grace', 52),
 ('Clare', 40),
 ('Danial', 34),
 ('Bob', 29),
 ('Henry', 22),
 ('Alice', 12),
 ('Emma', 4)]

# Function / Lambda expression

In [168]:
def fx1(x):
    return x**2 + 2*x - 3.5
fx1(1)

-0.5

In [169]:
y = [fx1(i) for i in range(-10,10,1)]
y

[76.5,
 59.5,
 44.5,
 31.5,
 20.5,
 11.5,
 4.5,
 -0.5,
 -3.5,
 -4.5,
 -3.5,
 -0.5,
 4.5,
 11.5,
 20.5,
 31.5,
 44.5,
 59.5,
 76.5,
 95.5]

In [170]:
lam1 = lambda x: x**2 + 2*x - 3.5

In [171]:
lam1

In [172]:
lam1(1)

-0.5

In [173]:
y = [lam1(i) for i in range(-10,10,1)]
y

[76.5,
 59.5,
 44.5,
 31.5,
 20.5,
 11.5,
 4.5,
 -0.5,
 -3.5,
 -4.5,
 -3.5,
 -0.5,
 4.5,
 11.5,
 20.5,
 31.5,
 44.5,
 59.5,
 76.5,
 95.5]

In [174]:
y = map(lam1, range(-10,10))

In [175]:
y

In [176]:
list(y)

[76.5,
 59.5,
 44.5,
 31.5,
 20.5,
 11.5,
 4.5,
 -0.5,
 -3.5,
 -4.5,
 -3.5,
 -0.5,
 4.5,
 11.5,
 20.5,
 31.5,
 44.5,
 59.5,
 76.5,
 95.5]

# Boolean Operation: and, or, not
https://docs.python.org/3/library/stdtypes.html#truth-value-testing
<table border="1" class="docutils" align = 'left' style="font-family: sans-serif; font-size:110%;}">
<colgroup>
<col width="32%" />
<col width="68%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Operation</th>
<th class="head">Meaning</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><code class="docutils literal"><span class="pre">&lt;</span></code></td>
<td>strictly less than</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">&lt;=</span></code></td>
<td>less than or equal</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">&gt;</span></code></td>
<td>strictly greater than</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">&gt;=</span></code></td>
<td>greater than or equal</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">==</span></code></td>
<td>equal</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">!=</span></code></td>
<td>not equal</td>
</tr>
<tr class="row-even"><td><code class="docutils literal"><span class="pre">is</span></code></td>
<td>object identity</td>
</tr>
<tr class="row-odd"><td><code class="docutils literal"><span class="pre">is</span> <span class="pre">not</span></code></td>
<td>negated object identity</td>
</tr>
</tbody>

</table>

In [177]:
q = True

In [178]:
type(q)

bool

In [179]:
p = bool(list([1,2,3,4]))
p

True

# Basic File I/O

In [180]:
y_list = list(map(lambda x: x**2 -10, range(-10,10)))
y_list

[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]

In [181]:
str(y_list)

'[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]'

In [182]:
with open('out1.txt', 'w') as fout:
    fout.write(str(y_list))

In [183]:
with open('out1.txt', 'r') as fin:
    test = fin.read()
test

'[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]'

In [184]:
with open('out2.txt', 'w') as fout:
    for i in range(1,11):
        fout.write(str(y_list) + '\n')

In [185]:
test2 = []
with open('out2.txt', 'r') as fin:
    for line in fin:
        test2.append(line)
test2

['[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n',
 '[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]\n']

In [186]:
import pickle

In [187]:
y_out = []
for i in range(0,11):
    y_out.append(y_list)

for i in y_out:
    print(i)

[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]
[90, 71, 54, 39, 26, 15, 6, -1, -6, -9, -10, -9, -6, -1, 6, 15, 26, 39, 54, 71]

In [188]:
type(y_out[0])

list

In [189]:
type(y_out[0][0])

int

In [190]:
y_out2 = [[i for i in y_list] for j in range(0,11)]

In [191]:
y_out == y_out2

True

In [192]:
with open('out3.txt', 'wb') as fout:
    pickle.dump(y_out, fout)

In [193]:
with open('out3.txt', 'rb') as fin:
    result = pickle.load(fin)
result

[[90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71],
 [90,
  71,
  54,
  39,
  26,
  15,
  6,
  -1,
  -6,
  -9,
  -10,
  -9,
  -6,
  -1,
  6,
  15,
  26,
  39,
  54,
  71]]

In [194]:
result == y_out

True